*{
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
}
body {
    background-image: url('img/freepik__candid-image-photography-natural-textures-highly-r__54969.jpeg' );
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center; 
    height: 100vh;
    overflow-y: hidden;
}
nav{
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 80px;
    background:rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
   
    
}
.menu{
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    padding-top:50px ;
    background: #a3a7b138;
    backdrop-filter:blur(10px);
    position:absolute;
    top:0;
    left:-120%;
    border:none;
    width: 15%;
    height:100%;
    font-size: 18px;
    justify-content: space-around ;
    align-items: center;
    transition: all 0.5s;
    padding-bottom:10px ;
}
#check{
    display: none;
}
#check:checked~.menu{
    left: 0;
}
.check-btn{
    cursor: pointer;
    margin-left: 20px;
   
   
   
}
.menu a{
    text-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
    border:none;
    text-align: center;
    height:25px;
    width: 100px;
    color: white;
}

.menu a:hover{
    border: none;
    outline: none ;
    border-bottom:2px solid white;
}
a.logo{
    color: white;
    font-size: 30px;
    margin: 100px;
   
}
.check-close{
    cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}
.container {
    border:none;
    position: absolute;
    right: 160px;
    outline: none;
    background: white;
    padding: 10px 10px;
    height: 18px;
    display: flex;
    align-items: center;
    font-size: 16px;
    border-radius: 50px;
    transition:0.8s;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
    cursor: pointer;
}
.container:hover input{
    width: 200px;
}
.container input{
    background: transparent;
    border: none;
    outline: none;
    width: 0;
    font-weight: 500;
    font-size: 16px;
    transition:0.8s;
}
.dropdown{
    display: flex;
    align-items: center;
    position: absolute;
    right: 20px;
    padding: 0 20px;
    
}
img{
    border-radius: 10px;
    background:none;
    width: 95px;
    height:inherit ;
}
.image{
position: absolute;
left:5%;

}
.dropdown-list{
    position: absolute;
    width: 300px;
    display:none;
    background: rgba(211, 211, 211, 0.729);
    top:66px;
    right:30%;
    height:390px;
    border-radius: 20px;
    border: 1px solid black;
}

.dropdown-list {
    display: none;
}
#drp{
    display: none;
}

#drp:checked ~ .dropdown-list {
    display: flex;
}
.dropdown-items{
    display: flex;
    flex-direction: column;
    justify-content: center;
   
   
}
.profile{
   display: flex;
   border-radius: 20px;
   flex-direction: column;
    position: absolute;
    width: 100%;
    height: 25%;
    top:0;
    align-items:center ;
    border:none;
    border-bottom-left-radius:0 ;
    border-bottom-right-radius:0 ;
    padding-top: 20px;
    border-bottom: 1px solid rgba(52, 44, 44, 0.444);
}
a.ptext{
    padding-top: 10px;
    text-decoration: none;
    font-weight: 500;   
    font-size: 20px;
    color: rgba(53, 34, 34, 0.944);
}
.items{
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 69%;
    justify-content: center;
    margin:10px 0;
    border: none;
  


}
.setting{
    border: 1px solid;
    height: 35px;
    border-radius: 30px;
    padding: 10px 20px;
    border: none;
}
.setting a{
    color: #260a0aea;
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
    position: absolute;
    padding:5px 10px;

}
.setting svg{
padding:5px 0;
}

.setting:hover{
    background-color: #f0f0f0b9;
}
.notification{
    display: flex;
    position: absolute;
    border:none;
    border-radius: 50px;
    width: 36px;
    justify-content: center;
    right: 103px;
    height: 33px;
    padding-top:3px;
    cursor: pointer;
}
@media(mAX-width:700px){
    img{
       padding-left:20px ;
       padding-right: 20PX; 
    }
    .container:hover input{
        width: 100px;
    }
}
.notification:hover{
    background-color: rgba(240, 248, 255, 0.263);
}
.drp-btn svg{
    cursor: pointer;
}
