*{
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
}
body {
    background-image: url('https://www.pexels.com/');
    
}
nav{
    background-color: #002cff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 80px;
    background-image: linear-gradient(to bottom, #334dc9, #3b579a);
    background-image: linear-gradient(to bottom, #3d446a, #e25d46);
    background-size: 100% 300px;
   
    
}
li.list{
    display:inline;
    line-height: 80px;
    margin: 0 5px;
    padding: 0 5px;
    transition: background-color 0.5s;
}
ul{
    float:right;
    padding: 0 40px;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 80%);
}
  label a{
    color: aliceblue;
    line-height: 80px;
    font-size: 35px;
    font-weight: bold;
    padding:0 150px;
    border: none;
    font-family:'Lato';
   
    
}
ul li a{
    position:relative;
    
    font-size: 18px;
    color:white;
    border-bottom-left-radius: ;
    text-transform: uppercase;
    padding: 5px;
    border: none;
    font-family:'Lato';
    transition: border-bottom 0.5s;
    
    

} 
   li a:hover{
    color: #afb8ed;
    border-bottom: 1px solid white;
    transition: 0;

}
@media (max-width:1053px) {
    label a{
        padding-left:50px;
        font-size: 30px; ;
    }
   
    nav ul a{
       font-size: 16px;
    }
    
}
.check-btn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
 }
 #check{
    display: none;
 }
@media(max-width:931px){
    .check-btn{
        display: block;
    }
  
   ul{
    position:fixed;
    width: 100%;
    height:130vh;
    background-color: #586089;
    top: 80px;
    left:-120%;
    text-align: center;
    transition: all .5s;
    
   }
  nav li.list{
    display: block;
   
   }
   nav li a{
    font-size: 20px;
   }
  a:hover,a.active{
    background: none;
    color: #0082e6;

  }
  #check:checked ~ ul{
    left: 0;
  }
 
 .logo a{
    color: aliceblue;
    position: fixed;
 }
   
}
body{
    background-color: #dd8171;
 }
